
<div class="row">
    <div class="col">
      
      <div >
            {{index + 1}}.- {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
      </div>

     
      <ul [ngStyle]="{'list-style': 'none'}">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>
      <app-caracteristicas-empleado (caracterisitasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
    </div>
  </div>

  